<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" [opened]="estaAberta" (openedChange)="navBarMudada($event)">
        <mat-nav-list>

            <mat-list-item [routerLink]="['/']">
                <mat-icon mat-list-icon>home</mat-icon>
                <span>Home</span>
            </mat-list-item>

            <mat-divider></mat-divider>

            <mat-list-item [routerLink]="['/grupoAutomovel/listar']">
                <mat-icon mat-list-icon>fit_screen</mat-icon>
                <span>Grupo Automovel</span>
            </mat-list-item>

            <mat-list-item [routerLink]="['/automovel/listar']">
                <mat-icon mat-list-icon>directions_car</mat-icon>
                <span>Automovel</span>
            </mat-list-item>

            <mat-divider></mat-divider>

            <mat-list-item [routerLink]="['/pessoaJuridica/listar']">
                <mat-icon mat-list-icon>corporate_fare</mat-icon>
                <span>Pessoa Juridica</span>
            </mat-list-item>

            <mat-list-item [routerLink]="['/pessoaFisica/listar']">
                <mat-icon mat-list-icon>attribution</mat-icon>
                <span>Pessoa Fisica</span>
            </mat-list-item>

            <mat-divider></mat-divider>

            <mat-list-item [routerLink]="['/parceiro/listar']">
                <mat-icon mat-list-icon>groups</mat-icon>
                <span>Parceiro</span>
            </mat-list-item>

            <mat-list-item [routerLink]="['/cupom/listar']">
                <mat-icon mat-list-icon>receipt</mat-icon>
                <span>Cupons</span>
            </mat-list-item>

            <mat-divider></mat-divider>

            <mat-list-item [routerLink]="['/taxaEServico/listar']">
                <mat-icon mat-list-icon>assignment</mat-icon>
                <span>Taxas E Servicos</span>
            </mat-list-item>

            <mat-divider></mat-divider>

            <mat-list-item [routerLink]="['/funcionario/listar']">
                <mat-icon mat-list-icon>face</mat-icon>
                <span>Funcionarios</span>
            </mat-list-item>

        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <app-header [(navBarAberta)]="estaAberta"></app-header>
        <div class="container center">
            <ng-content></ng-content>
        </div>
    </mat-sidenav-content>

</mat-sidenav-container>