<div fxLayout="row" fxLayoutAlign="center center">
    <h1>Editar Parceiro</h1>
</div>

<div *ngIf="carregandoParceiro; else editarParceiroForm" fxLayout="row" fxLayoutAlign="center center" >
    <h1>Carregado dados do Parceiro...</h1>
    <mat-spinner></mat-spinner>
</div>

<ng-template #editarParceiroForm>    
    <form [formGroup]="cadastroForm" (ngSubmit)="editarParceiro()" fxLayout="column" fxLayoutAlign=" center">
        <mat-form-field appearance="outline">
            <mat-label>Nome</mat-label>
            <input matInput formControlName="nome">
            <mat-icon matSuffix>badge</mat-icon>
            <mat-error *ngIf="cadastroForm.controls['nome'].errors">
                Campo Nome é obrigatorio
            </mat-error>
        </mat-form-field>
        
        <mat-form-field appearance="outline">
            <mat-label>Telefone</mat-label>
            <input matInput [textMask]="{mask: mascaraTelefone}" formControlName="telefone">
            <mat-icon matSuffix>phone</mat-icon>
            <mat-error *ngIf="cadastroForm.controls['telefone'].errors">
                Campo Telefone é obrigatorio
            </mat-error>
        </mat-form-field>
    </form>
    
    <div fxLayout="row" fxLayoutAlign="space-evenly center" >
        <button mat-flat-button color="primary" (click)="editarParceiro()" [disabled]="enviando">
            Editar
            <mat-icon>send</mat-icon>
        </button>
        <button mat-flat-button color="warn" (click)="voltarParaListar()">
            <mat-icon>arrow_back</mat-icon>
            Cancelar
        </button>
    </div>
</ng-template>

<div *ngIf="enviando" fxLayout="row" fxLayoutAlign="center center" >
    <h1>Enviando...</h1>
    <mat-spinner></mat-spinner>
</div>